.light {
  width: 100%;
}

.dark {
  background-color: #121317;
  height: 100vh;
}

.wrapper {
  display: grid;
  place-content: center;

  width: 100vw;
  height: 100vh;
}

.darkmode {
  display: grid;
  place-content: center;

  width: 100vw;
  height: 100vh;

  background-color: #121317;
}

.invisible {
  display: none;
}

.visible {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 10;
}
